<div class="bg-light min-vh-100">

  <% if notice %>
    <p class="alert alert-notice m-0 p-0"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error m-0 p-0"><%= alert %></p>
  <% end %>

  <div class="container-md">
    <div class="row text-center py-5">
      <div class="col-md-5 offset-md-2">
        <h1 class="h4"><span class="border-bottom py-1">ビデオチャットの始め方</span></h1>
        <small class="border-bottom py-1">クリックでページをめくれます</small>
      </div>
      <div class="col-md-4 my-3">
        <div class="btn-group" role="group">
          <%= link_to "ルームへ入る", video_calls_chat_path, class: "btn btn-outline-secondary" %>
          <% if user_signed_in? %>
            <%= link_to 'ログアウト', destroy_user_session_path, class: "btn btn-outline-secondary", method: :delete %>
          <% else %>
            <%= link_to 'ログイン', new_user_session_path, class: "btn btn-outline-secondary" %>
          <% end %>
        </div>
      </div>
    </div>
    <%= react_component('PageFlip') %>
  </div>
</div>
