<!DOCTYPE html>
<html>
  <head>
    <title>VideoCall</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    
    <%# CDNを利用 %>
    <script src="https://cdn.webrtc.ecl.ntt.com/skyway-4.4.3.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
